<div class="toppart">
  <div class="main">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="zipmenus clearfix">
            <div class="zip pull-left">
            </div>
            <div class="confirm active pull-left">
            </div>
        </div>

        <h2 class="text-center">Sweet Spot Summary Within {{data.radius}} Miles of <label>{{data.zip}}</label></h2>
        <h4 class="text-center Merriweather-normal-400">Out of 12,000 homes that were sold last year.</h4>
        <h1 class="text-center numbers Lato-normal-700 ">SWEET SPOT NUMBERS</h1>

        <div class="row contents Lato-normal-400 ">
            <div class="col-xs-10 col-sm-10 col-md-10">
              <p>
                Prehab Sweet Spots
              </p>
              <p>
                Rehab Sweet Spots
              </p>
              <p class="active">
                Wholesale Sweet Spots
              </p>
              <p>
                Zones To AVOID
              </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <p>4</p>
              <p>2</p>
              <p class="active">0</p>
              <p>5</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottompart">
  <div class="main">
    <div class="popup">
      <div>
        <h4 class="text-center Merriweather-italic-400">{{data.radius}} mile radious | Data From 04.04.15</h3>
        <h3 class="text-center Lato-normal-100">SWEET SPOT REPORT</h3>
        <h1 class="text-center zip">ZIP CODE {{data.zip}}</h1>

        <div class="row note">
            <div class="col-xs-4 col-sm-4 col-md-4 left-side">
              <p class="Merriweather-italic-400">Prehab Sweet Spots</p>
              <p>&nbsp;</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <p><label></label></p>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <p class="col-md-offset-3  Lato-normal-700">Units Sold</p>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-7">
                <p class="Lato-normal-700">Average SOLD Price</p>
                <div class="pan"><span>$100,000.00</span></div>
                <div class="pan"><span>$100,000.00</span></div>
                <div  class="pan"><span>$100,000.00</span></div>
              </div>
            </div>
        </div>

        <div class="row note">
            <div class="col-xs-4 col-sm-4 col-md-4 left-side">
              <p class="Merriweather-italic-400">Prehab Sweet Spots</p>
              <p>&nbsp;</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
              <p class="Lato-normal-700">45329(KETTERING)</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <p><label></label></p>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <p class="col-md-offset-3  Lato-normal-700">Units Sold</p>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
                <div class=" pan pan1 col-md-offset-4" ><span>0000</span></div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-7">
                <p class="Lato-normal-700">Average SOLD Price</p>
                <div class="pan"><span>$100,000.00</span></div>
                <div class="pan"><span>$100,000.00</span></div>
                <div  class="pan"><span>$100,000.00</span></div>
              </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group ">
                <div class="btncover">
                  <input type="submit" id="btn-start" ng-click="" class="btn nextstep Lato-normal-900" value="Get Full Report">
                </div>

          </div>
        </div>
      </div>
    </div> <!-- popup -->


  </div> <!-- main -->

</div> <!-- bottom -->


</div>
